---
---

@import "{{ site.theme }}";

header {
  --color-shadow: #666;
  background: #2e7bcf url(https://images.unsplash.com/photo-1625586299744-e1f3b14e6138?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat center / cover;
}

header h2 {
#  backdrop-filter: blur(8px) brightness(80%);
  box-sizing: border-box;
  border: 15px solid transparent;
  border-radius: 5px;
  text-shadow: -1px -1px 0 var(--color-shadow), 1px -1px 0 var(--color-shadow), -1px 1px 0 var(--color-shadow), 1px 1px 0 var(--color-shadow);
}

header h1 {
  text-shadow: -1px -1px 0 var(--color-shadow), 1px -1px 0 var(--color-shadow), -1px 1px 0 var(--color-shadow), 1px 1px 0 var(--color-shadow);
}
