---
---

@import "{{ site.theme }}";

header {
  --color-shadow: #666;
  background: #2e7bcf url(/Reise-2026/assets/photo-banner_edit.jpg) no-repeat center / cover;
}

header h2 {
#  backdrop-filter: blur(8px) brightness(80%);
  box-sizing: border-box;
  border: 15px solid transparent;
  border-radius: 5px;
  text-shadow: -1px -1px 0 var(--color-shadow), 1px -1px 0 var(--color-shadow), -1px 1px 0 var(--color-shadow), 1px 1px 0 var(--color-shadow);
}

header h1 {
  text-shadow: -1px -1px 0 var(--color-shadow), 1px -1px 0 var(--color-shadow), -1px 1px 0 var(--color-shadow), 1px 1px 0 var(--color-shadow);
}

#main-content img {
  max-height: 80vh;
  margin-inline: auto;
  display: block;
}

#main-content {
  float: left;
  width: calc(100% - 220px);
}

.inner {
  width: 80%;
  max-width: 1200px;
}

.hidden {
  display: none;
}
